<header>
	<section id='profile'>
		<div id='card'>
			<div id='left'>
				<img src="<%= contact.picture%>">
			</div>
			<div id='right'>
				<h2><%= contact.name%></h2>
				<p><%= contact.nick%></p>
			</div>
			<p><%= contact.description%></p>
		</div>
	</section>
</header>
