<header>
	<section id='profile'>
		<div id='card'>
			<div id='left'>
				<img src="<%= contact.picture%>">
			</div>
			<div id='right'>
				<h2><%= contact.name%></h2>
				<p><%= contact.nick%></p>
			</div>
			<p><%= contact.description%></p>
		</div>
	</section>
	<div id='share'>
		<div id='sharebtn'>
			<!-- <div class='btn'> -->
			<!-- </div> -->
			<!-- <div class='btn'> -->
			<!-- </div> -->
		</div>
		<nav id="navbar">
			<ul id="nav">
				<li><a href="https://www.facebook.com/sharer/sharer.php?u=http://chiennevictrix.herokuapp.com/" target='__blank'>Share on Facebook</a></li>
				<li><a href="https://twitter.com/intent/tweet?url=http://chiennevictrix.herokuapp.com/&text=ðŸ’ðŸ’ðŸ’ðŸ’&via=ChienneVictrix&hashtags=nsfw,girl,altmodel,packs,sexy" target='__blank'>Share on Twitter</a></li>
				<li><a href="https://api.whatsapp.com/send?text=http://chiennevictrix.herokuapp.com/" target='__blank'>Share on whatsapp</a></li>
			</ul>
		</nav>
	</div>
</header>
