@import url('https://fonts.googleapis.com/css2?family=Euphoria+Script&display=swap');
*{
	padding: 0px;
	margin:	0px;
}
html{
	font-size: 1vw;
	font-family: 'Euphoria Script', cursive;
}
body{
	height:	100vh;
	width: 100vw;
	background-color: #190321;
	background-image: url(../img/bgLandscape.jpeg);
	background-position: center;
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
    flex-wrap: nowrap;
}
header{
	z-index: 1;
	height: 30%;
	width: 100%;
	background-color: rgba(190, 030, 210, 0.2);
}
a{
	text-decoration: none;
	color: #190321;
}
h1{
	height:	fit-content;
	width:	100%;
	text-shadow: -0.1rem 0.1rem 0.2rem fuchsia;
	font-size:	2rem;
}
h2{
	height:	fit-content;
	width:	100%;
	text-align: center;
	font-size: 2.5rem;
	text-shadow: -0.2rem 0.1rem #190321;
}
h3{
	height:	fit-content;
	width:	100%;
	font-size:	0.8rem;
	color: gray;
	text-decoration: underline;
}
p{
	height:	fit-content;
	width: 100%;
	padding: 5% 0%;
	font-size: 1.5rem;
	font-weight: 900;
	color: #190321;
	text-align: center;
	font-style: oblique;
	text-shadow: -0.05rem 0.05rem 1rem #FFDDFF;
}
main{
	height: max-content;
	width: 100%;
	display: flex;
	flex-direction: row;
	overflow-y: scroll;
	background-color: rgba(190, 030, 210, 0.2);
}
main::-webkit-scrollbar {
  width: 0.7rem;
  background: rgba(255, 255, 255, 0);
}
section#profile{
	z-index: 1;
	width:	25%;
	margin: 5%;
}
div#card{
	width: 100%;
    aspect-ratio: 1;
    background: rgba(190, 30, 210, 0.6);
    display: flex;
    align-items: center;
    justify-content: space-between;
	flex-direction: column;
	color: #FFAAEf;
	border-width: 0.5vw;
	border-style: ridge groove groove ridge;
	border-color: #FFAAEF;
	border-radius: 2.5rem;
}
div#left,div#right{
	height: 20%;
	width: 75%;
}
div#right{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}
div#left>img{
	max-width: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
	padding: 5% 0%;
}
section#tree{
	position: relative;
	margin-left: 30%;
	height: max-content;
	width:	70%;
	padding: 2%;
}
div#socials{
	height: auto;
	width:	100%;
}
div#social{
	height: auto;
	width:	80%;
	display: flex;
	flex-direction:	column;
	gap: 0.5rem;
	padding: 0% 2%;
	padding: 2%;
}
.card{
	width:	75%;
	aspect-ratio: 5;
	border-radius: 1vw;
	box-shadow: inset 0 0 1vw fuchsia, 0 0 1vw #190321;
	background: white;
	display: flex;
	align-items: center;
	padding: 1%;
	justify-content: space-evenly;
}
.card:hover{
	transform: scale(1.01)
}
.card>div{
	height: 75%;
    width: 75%;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.card img{
	width: 15%;
	aspect-ratio: 1;
}
footer{
	width: 100%;
	height: 5%;
	background-color: rgba(190, 030, 210, 0.2);
}
